{% extends 'base.html' %}

{% block content %}

<h1>Клиенты</h1>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="table-info">
            <th>Имя</th>
        </tr>
    </thead>
    <tbody>
        {% for costumer in costumers %}
            <tr>
                <td>{{ costumer.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  Open modal
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!--<div class="container mt-3">-->
<!--  <h2>Simple Collapsible</h2>-->
<!--  <p>Click on the button to toggle between showing and hiding content.</p>-->
<!--  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">Simple collapsible</button>-->
<!--  <div id="demo" class="collapse">-->
<!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit,-->
<!--    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
<!--  </div>-->
<!--</div>-->

<!--<p class="d-inline-flex gap-1">-->
<!--  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>-->
<!--  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>-->
<!--  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>-->
<!--</p>-->
<!--<div class="row">-->
<!--  <div class="col">-->
<!--    <div class="collapse multi-collapse" id="multiCollapseExample1">-->
<!--      <div class="card card-body">-->
<!--        Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <div class="collapse multi-collapse" id="multiCollapseExample2">-->
<!--      <div class="card card-body">-->
<!--        Some placeholder content for the second collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

{% endblock %}
